<link rel="stylesheet" href=" {{url_for('static', filename='css/form.css')}} ">

<form 
    {% if user %} 
    action="{{url_for('table.update_user_id', user_id=user.id)}}"
    {  % else %}
    action="register"
        {% endif %}
        method="POST">

        
    {{ form.hidden_tag() }}
    {% if user %}
        <input type="hidden" name="_method" value="PUT">
    {% endif %}
        <div class="mb-3">                   
                <label for="email" class="form-label">{{ form.name.label }}</label {%if user%}value='{{user.name}}'{%endif%}>
                {{ form.name(class="form-control", id="name", placeholder="Nome do usuário")}}
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">{{ form.password.label }}</label {%if user%}value='{{user.password}}'{%endif%}>
            {{ form.password(class="form-control", id="password", placeholder='Senha do usuário')}}
        </div>
        {{form.submit_register(class='submit-register')}}
</form>