<link rel="stylesheet" href=" {{ url_for('static', filename='css/navbar.css') }} ">

<body>
  <nav class="side-bar">
    <div class="logo-menu">
      <h2 class="logo">ADVISORS</h2>
      <i class="bx bx-menu toggle-btn"></i>
    </div>

    <ul class="list">
      <li class="list-item">
        <a href="home">
          <i class="bx bx-grid alt"></i>
          <span class="link-name">Dashboard</span>
        </a>
      </li>
      <li class="list-item">
        <a href="cadaster">
          <i class="bx bx-grid alt"></i>
          <span class="link-name">Registros</span>
        </a>
      </li>
      <li class="list-item">
        <a href="#">
          <span class="link-name">About</span>
        </a>
      </li>
    </ul>
  </nav>
</body>